@{
    ViewData["Title"] = "Home";
}

<div style="display: grid; height: 60vh; align-content: space-around">
    <div className='text-success text-center' style="font-size: 50px;text-align:center;color:green">
        Application Home Page
    </div>
</div>
